## Ingenieria de Caracteristicas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler

sns.set(style= "darkgrid")
sns.color_palette()
from scipy.stats import ks_2samp

In [10]:
data = pd.read_csv("D:/Repositorio/Proyecto_ Venta de autos/Data_procecced/car_data.csv")
data.head(2)

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0

### 1_ Datos falantes

Como nuestra data no tienen valores faltantes esta parte no sera necesaria realizarla

### 2_ Codificación de variables categoricas

In [11]:
col_cat = []
col_num =[]
for i in data.columns:
    if data[i].dtypes == "object":
        col_cat.append(i)
    else:
        col_num.append(i)
        
print(f"Columnas tipo categoricos {col_cat}")
print(f"Columnas tipo numericas{col_num}" )

Columnas tipo categoricos ['Gender']
Columnas tipo numericas['User ID', 'Age', 'AnnualSalary', 'Purchased']

In [12]:
# Codificacion de la variable Gender con Labelencoder

status_enc = LabelEncoder()
data["Gender"] = status_enc.fit_transform(data["Gender"])

status_mapping = dict(zip(status_enc.classes_, status_enc.transform(status_enc.classes_)))
print("Relación entre valores originales y codificados:", status_mapping)

Relación entre valores originales y codificados: {'Female': 0, 'Male': 1}

In [13]:
data.head()

   User ID  Gender  Age  AnnualSalary  Purchased
0      385       1   35         20000          0
1      681       1   40         43500          0
2      353       1   49         74000          0
3      895       1   40        107500          1
4      661       1   25         79000          0

In [15]:
ruta_archivo = 'D:/Repositorio/Proyecto_ Venta de autos/Data_procecced/data_clean.csv'
data.to_csv(ruta_archivo, index=False, encoding='utf-8')